@font-face {
    font-family: Merriweather, Pacifico;
    src: url("https://fonts.googleapis.com/css?family=Merriweather");
    src: url("https://fonts.googleapis.com/css?family=Pacifico");
}

body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

li {
    font-size: 40px;
}

.container {
    margin-top: 50px;
}

header {
    font-family: 'Merriweather', serif;
}

section {
    font-family: 'Pacifico', cursive;
}

#description {
    font-size: 100px;
}

#detailsSection {
    width: 700px;
    margin-left: 15%;
}

td, h4[id="warning"] {
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    text-align: center;
}
